<%- include('../partials/header') -%>

<h1>Ajouter un lieu</h1>

<form action="/addPlace" method="post">
    <div>
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="positionx">position_x:</label>
        <input type="number" step="any" id="positionx" name="positionx">
    </div>
    <div>
        <label for="positiony">position_y:</label>
        <input type="number" step="any" id="positiony" name="positiony">
    </div>
    <button type="submit">Ajouter</button>
</form>

<a href="/">Retour</a>
<%- include('../partials/footer') -%>