version: "3.9"

services:
  db:
    container_name: mysql-db
    build:
      context: .
      dockerfile: containers/mysql/DockerFile
    env_file:
      - .env
    restart: always
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app-network

  app:
    container_name: heer-app
    build:
      context: .
      dockerfile: containers/node/DockerFile
    env_file:
      - .env/
    volumes:
      - ./:/app
      - /app/node_modules # Remove this if you have pure JS dependencies
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    networks:
      - app-network



networks:
  app-network:
    driver: bridge

volumes:
  db-data:
