<div id="map" style="height:100vh"></div>
<script>

    var map = L.map('map').setView([48.505, 2.4], 9);

    const listLieux = [
        {name:"Fontainebleau", positionX:48.4021, positionY:2.6995},
        {name:"Malmaison", positionX:48.8708, positionY:2.1668},
        {name:"Saint-Germain-en-Laye", positionX:48.8980, positionY:2.0960},
        {name:"Écouen", positionX:49.0172, positionY:2.3789},
        {name:"Versailles", positionX:48.8049, positionY:2.1204},
        {name:"Chantilly", positionX:49.1938, positionY:2.4852},
    ]
    let layerGroup = L.layerGroup().addTo(map);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    for (let i = 0; i < listLieux.length; i++) {
        newMarker = new L.circle([listLieux[i].positionX, listLieux[i].positionY], {
            draggable: false,
            autoPan: true,

            shadowSize: [0, 0],
        });
        layerGroup.addLayer(newMarker);
        /*var iconUrl = 'data:image/svg+xml;base64,' + btoa(svg);

        var icon = L.icon( {
            iconUrl: iconUrl,
        } ); */

    var castelIcon = L.icon({
        iconUrl: './images/castelodotempo.svg',
        iconSize:     [25, 80], // size of the icon
        iconAnchor:   [listLieux[i].positionY+10, listLieux[i].positionX], // point of the icon which will correspond to marker's location
    });
    L.marker([listLieux[i].positionX, listLieux[i].positionY], {icon: castelIcon}).addTo(map);



     /*newMarker = new L.marker([listLieux[i].positionX, listLieux[i].positionY], {
         draggable: false,
         autoPan: true,
         shadowSize: [0, 0],
         icon: castelIcon
     });
     layerGroup.addLayer(newMarker);*/

     /* L.marker([listLieux[i].positionX, listLieux[i].positionY], {icon: castelIcon}).addTo(map); */
    }
</script>