<% if (data && data.length > 0) { %>
    <p>list :</p>

    <% for (let i = 0; i < data.length; i++) { %>
        <div>
            <h3> <%= data[i].name %></h3>
            <p>Id: <%= data[i].id %></p>
            <p>position_X: <%= data[i].position_x %></p>
            <p>position_y: <%= data[i].position_y %></p>
        </div>
    <% } %>

<% } else { %>
    <p>Aucun résultat trouvé</p>

<% } %>