<!DOCTYPE html>
<html lang="en" class="bg-gray-200">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title || "Express OpenID Connect" %></title>

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <link rel="shortcut icon" href="images/img.png">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
</head>
<body class="flex">
<nav class="bg-green-700 p-1 w-1/12 flex-shrink-0">

    <div class="flex items-center justify-center flex-shrink-0 text-white mb-12 mt-6">
        <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">
            <img src="./images/img.png" class="w-full">
        </a>
    </div>

    <div class="flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
            <% if (locals.user) { %>
                <a href="/profile" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Profile</a>
                <a href="/logout"
                   class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Logout</a>
                <a href="/addPlace"
                   class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Ajouter un lieu</a>
            <% } else { %>
                <a href="/login"
                   class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">Login</a>
            <% } %>
        </div>

    </div>
</nav>
                