<body class="flex">
<nav class="bg-green-700 p-1 w-1/12 flex-shrink-0 h-screen">

    <div class="flex items-center justify-center flex-shrink-0 text-white mb-12 mt-6">
        <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white mr-4">
            <img src="./images/img.png" class="w-full" alt="">
        </a>
    </div>

    <div class="flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm flex flex-col lg:flex-grow text-center">
            <% if (locals.user) { %>
                <a href="/profile" class="block mt-4 lg:inline-block lg:mt-0 text-gray-300 hover:text-white m-1">Profile</a>
                <a href="/logout"
                   class="block lg:inline-block lg:mt-0 text-gray-300 hover:text-white m-1">Logout</a>
                <a href="/admin"
                   class="block lg:inline-block lg:mt-0 text-gray-300 hover:text-white m-1">Admin</a>
            <% } else { %>
                <a href="/login"
                   class="block lg:inline-block lg:mt-0 text-gray-300 hover:text-white m-1">Login</a>
            <% } %>
        </div>

    </div>
    <div id="addPlaceDiv"
         class=" <% if(typeof data === "undefined" || typeof locals.user !== 'object'){ %> hidden <% } %> ">
        <p id="addPlace">Add place</p>
    </div>
</nav>