<%- include('partials/header') -%>
<div>
    <img src="https://img.freepik.com/vecteurs-libre/erreur-404-illustration-concept-paysage_114360-7898.jpg" class="h-screen w-screen">
</div>

<%- include('partials/footer') -%>